#main-div{

  background-color:#ffc33d;
  overflow: auto;
  background-image: linear-gradient(to right, #ffc33d, #eac056);
}

#header-logo{
  height: 40px;
  /* margin-right: 5px; */
}
.container-fluid{
  width: auto;
  font-family: 'Bebas Neue', cursive;
  margin-right: 0px !important;
  overflow: hidden;
}
.navbar-brand{
  font-size: xx-large;
  padding-left:  12px;
  margin-right: 0;
}
ul{
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 4px;
  font-size: large;
  padding-top: 10px;
  margin-top: 20px;
}
.nav-link.active{
padding-left: 15px;
}
#delivery{
  position: static;
  bottom: 24px;
  left: 1001px; 
  font-family: 'Hind', sans-serif;
  font-weight: 700;
}
#del-logo{
  height: 35px;
  transform: scaleX(-1);
  padding-left: 6px;
}
.navbar{
  padding-top: 25px;
  overflow: auto;
}
/* #burimg{
  posit
} */
@media only screen and (min-width: 992px) {
  #delivery {
    position: relative;
    display: inline-block;
    bottom: 21px;
    font-family: 'Hind', sans-serif;
    font-weight: 700;
    left: 60%;}}
@media only screen and (min-width: 1440px) {
  #delivery {
    position: relative;
    display: inline-block;
    bottom: 21px;
    font-family: 'Hind', sans-serif;
    font-weight: 700;
    left: 75%;
    
}}
#above-text{
  font-family: 'Bebas Neue', cursive;
  border: 3px dashed;
  width: max-content;
  font-size: 3vw;

}
#mid-text{
  font-family: 'Alfa Slab One', cursive;
  font-size: 8vw;
  color: #3c1f0a;
}
#down-text{
  font-family: 'Alfa Slab One', cursive;
  font-size: 6vw;
  color: #3c1f0a;
}

#bur-img{
  /* position: absolute; */
  display: flex;
  float: right;
    bottom: 6rem;
    /* right: 1rem; */
    margin-right: 8%;
    margin-bottom: 2rem;
}
.co{
  float: left;
  padding-left: 1rem;
}
.wrapper {
  display: flex;
  flex-direction: row;
  margin: 2vw;
  box-sizing: border-box;
  flex-flow: wrap ;
  overflow: hidden;
  
 
  /* flex-flow: wrap; */
  
}
.one {
  flex: 50%;

}
.two {
  flex: 50%;
}
#img1{
  width: 100%;
}
#img2{
  width: 100%;
  
}

@media (max-width: 1210px) {
  .wrapper {
    flex-direction: column-reverse;
    max-width: 100%;
  }}
.bt1{
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  color:  #fec038;
}
#bt1kabutton{
  background-color:  #fec038;
}
.twotext{
  font-family: 'Alfa Slab One', cursive;
  font-size: 5vw;
  text-align: center;
  color: #3c1f0a;
}
.threetext{
  text-align: center;
  color: #3c1f0a;
  /* font-family: 'Bebas Neue', cursive; */
}
